body{
   margin:0px 0px 0px 0px;
   width:100%;
}

#background{
   background-color: #DEE3FE;
   position:absolute;
   width:100vw;
   height:100%;
}

#page{
background-color: #FFFFFF;
position: absolute;
width: 34vw;
height: 73vh;
left: 48.5vw;
top: 13.3vh;
}

#forgot-pw{
padding-top:0px;
font-family: 'Noto Sans SC';
text-align: center;
font-size: 25px;
color:#546CC2;
}

#warring{
   left: 6.7vw;
   top:33vh;
   font-family: 'Roboto';
   position:absolute;
   color:#848484;
   font-size: 10px;
}

#forgot{
   position: relative;
   top:10vh;
}

#spend{
   top:25.5vh;
   font-family: 'Noto Sans SC';
   position: relative;
   background: #8FA4EF;
   border-radius: 0.5vw;
   color:#FFFFFF;
   border: none;
   width: 21.2vw;
   height: 6.3vh;
}

#photo{
   position: relative;
   background-image: url("forgotpw-photo.png");
   width: 34vw;
   height: 73vh;
   left: 14.7vw;
   top: 13.3vh; 
   background-size: cover;
}

#email{
   top:21vh;
   font-family: 'Roboto';
   position: relative;
   width: 20vw;
   height: 6.1vh;
   border-radius: 0.2vw;
   border-color: #818181;
   border-width: thin;
   padding-left: 0.8vw;
}
