body{
    margin:0px 0px 0px 0px;
    width:100vw;
    height: 100vh;
 }

 #page1{
    position: absolute;
    background-color: #657AC3;
    width: 50vw;
    height: 100vh;
    left:0px;
 }

 #page2{
    position: absolute;
    background-color: #7C8FD0;
    width: 50vw;
    height: 100vh;
    left:760px;
 }

 #photo-background{
    background-color:  #7C8FD0;
    position: relative;
    width: 600px;
    height: 80vh;
    top:80px;
    left: 200px;
 }

 #photo-text1{
    position: relative;
    z-index: 2;
    top:-758px;
    left: 280px;
    color:#FFFFFF;
    font-family: Noto Sans;
    font-size: 30px;
 }

 #photo-text2{
    position: relative;
    z-index: 2;
    top:-788px;
    left: 280px;
    color:#FFFFFF;
    font-family: Noto Sans;
    font-size: 30px;
 }

 #photo-text3{
    position: relative;
    z-index: 2;
    top:-820px;
    left: 280px;
    color:#FFFFFF;
    font-family: Noto Sans;
    font-size: 30px;
 }

 #photo{
    position: relative;
    background-image: url("photo-img.png");
    background-size: cover;
    z-index: 2;
    width: 450px;
    height: 350px;
    top:-300px;
    left: 330px;
 }

 #main{
    background-color: #FFFFFF;
    position: relative;
    width: 600px;
    height: 80vh;
    top:56.5px;
 }

 h1{
    position: relative;
    color:#78A2E5;
    font-family: Roboto;
    font-size: 38px;
    top:130px;
    left:160px;
 }

 #email{
    position: relative;
    width: 300px;
    height: 35px;
    border-color: #999999;
    border-width: thin;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 13px;
    top:160px;
    left: 140px;
 }

 #password{
    position: relative;
    width: 300px;
    height: 35px;
    border-color: #999999;
    border-width: thin;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 13px;
    top:175px;
    left: 140px;
 }

 #login-button{
    position: relative;
    width: 320px;
    height: 40px;
    background-color: #7C8FD0;
    border: none;
    color:#FFFFFF;
    font-size: 13px;
    font-family: Roboto;
    top:210px;
    left:138px;
}

#forgot{
    position: relative;
    font-family: Roboto;
    font-size: 11px;
    top:220px;
    left:167px;
}

#find{
    position: relative;
    color:#5B9CE8;
    font-size: 11px;
    font-family: Roboto;
    top:205px;
    left:300px;
}