body{
    font-family: 'Noto Sans Telugu';
    background-color: #DEE3FE;
}

#ask-tab > a{
    text-decoration: none;
    color:#000000;
}

#main{
    border-radius: 20px;
    position: absolute;
    width: 91.15vw;
    height: 88vh;
    left:4.425vw;
    top:6vh;
    margin: 0px 0px 0px 0px;
    background-color: #FFFFFF;
}

#img{
    position: relative;
    top: -10px;
    left:-50px;
    width:16px;
    height:auto
}

#header{
    font-family: 'Roboto';
    float:left;
    font-size: 14px;
}

.header-item{
    float:left;
    margin-left: 58px;
    font-size: 15px;
    margin-top: 30px;
    z-index: 2;
}

#GFO{
    font-size: 22px;
}

#devide-line{
    margin-top: 35px;
    width:2px;
    height:21px;
    background-color: rgba(214, 214, 214, 1);
}

#sub-text{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 175px;
}

#ask-button{
margin-top: 30px;
border: none;
font-weight: bold;
position: relative;
color:white;
width: 130px;
height: 45px;
left: 60px;
background: #6378E6;
border-radius: 25px;
}

#side-img1{
    background-image: url("Circle.png");
    position: relative;
    width: 550px;
    height: 550px;
    background-size: cover;
    z-index: 1;
    margin-left: 800px;
    margin-top: -450px;
}

#side-img2{
    position: relative;
    background-image: url("main.png");
    z-index: 2;
    background-size: cover;
    width: 230px;
    height: 180px;
    margin-top: -530px;
    margin-left: 670px;
}

#side-img3{
    position: relative;
    background-image: url("main 2.png");
    z-index: 2;
    background-size: cover;
    width: 200px;
    height: 150px;
    margin-top: 140px;
    margin-left: 720px;
}

#logo-text{
    position: relative;
    top:160px;
    left:58px;
    background-image: url("TOT.png");
    width:295px;
    height: 260px;
    background-size: cover;
    z-index: 2;
}

#login-button{
    position: relative;
    width: 110px;
    height: 35px;
    background: #000000;
    margin-top: -30px;
    left: 150px;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#home:hover{
    color:#647FDE;
}
#ask:hover{
    color:#647FDE;
}
#Mypage:hover{
    color:#647FDE;
}

#side{
    position: absolute;
    width: 550px;
    height: 665px;
    left: 850px;
    top: 0vh;
    background: #C3D1FC;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
}

#ask-tab{
    top:60px;
    font-family: 'Roboto';
    position: absolute;
    background-color: #e4e4e4a2;
    width: 116px;
    height:80px;
    left:250px;
    padding-left: 16px;
    font-size: 14px;
    color:#000000;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

#qna:hover, #awns:hover{
    color:#6378E6;
}

.hidden-tab{
    display: none;
}

.open-tab{
    display: block;
}

#qna{
    position: relative;
    top: 16px;
}
#awns{
    position: relative;
    top: 22px;
}