@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto';
    margin:0px 0px 0px 0px;
    width:100%;
}
#background{
    background:linear-gradient(to left top,#90A5EF 40%, #D9DDFB);
    position:absolute;
    width:100vw;
    height:100%;
    padding-left:0px;
    z-index: -2;
}
#page{
    position: absolute;
    width:80.9375vw;
    height: 77.7777vh;
    top:11.1111vh;
    background-color: white;
    margin-left:9.53125vw;
}
#login-form{
    padding-top:0px;
    width:54.6875vw;
    text-align: center;
    animation-name: disappear;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count:infinite;
}
#login-sub{
    position: relative;
    margin-top:20.0925vh;
    margin-bottom: 1.6666vh;
    font-size: 72px;
    color:#8A9DE1;
}
#signup-form{
    text-align: center;
    margin-left:31.25vw;
    position:absolute;
    width:54.6875vw;
    animation-name: appear;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count:infinite;
    opacity: 0%;
}
#signup-sub{
    position: relative;
    margin-top:5vh;
    margin-bottom: 0vh;
    font-size: 59px;
    color:#8A9DE1;
}
.input{
    font-family: 'Roboto';
    width:26.041vw;
    height:5.5vh;
    border: none;
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-indent: 1vw;
}
#name{
    margin-top:4vh;
    background-position-y: 6px;
    background-image: url("../FrontEnd/image/email.png");
    background-repeat: no-repeat;
    text-indent: 3.5vw;
}
#email{
    margin-top:4vh;
    background-position-y: 6px;
    background-image: url("../FrontEnd/image/email.png");
    background-repeat: no-repeat;
    text-indent: 3.5vw;
}
button:active {
    transform: scale(0.95);
}
#password{
    margin-top:4vh;
    background-position-y: 6px;
    background-image: url("../FrontEnd/image/자물쇠.png");
    background-repeat: no-repeat;
    text-indent: 3.5vw;
}

#forgot-pw{
    display: block;
    text-decoration: none;
    color:#8A9DE1;
    padding-top: 1.4259vh;
}

.box{
    float: left;
    height: inherit;
}
#change-form{
    position:absolute;
    text-align: center;
    width:26.25vw;
    height:inherit;
    background-image: url("../FrontEnd/image/background.png");
    background-size: cover;
    background-repeat:no-repeat;
    animation-name: move;
    animation-duration: 1.5s;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#change-sub{
    margin-top:24vh;
    font-size: 45px;
    font-family: 'Roboto';
    color:#FFFFFF;
    font-weight: 700;
}

#change-content{
    margin-top:38px;
    color:white;
    font-size: 18px;
}

#form-change-button{
    border-radius: 100px;
    font-family: 'Roboto';
    font-size: 20px;
    margin-top:64px;
    background: none;
    color:white;
    box-sizing: border-box;

    width: 14.5833vw;
    height: 8.3333vh;
    left: 1354px;
    
    border: 2px solid #FFFFFF;
    border-radius: 60px;

    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.circle{
    position:fixed;
    width: 610px;
    height: 630px;
    left: -140px;
    top: 586px;
    z-index: -1;
    border-radius: 500px;
    background-color: #E1AE9D;
    display: none;
}
@keyframes disappear{
    from{
        opacity: 100%;  
    }
    to{
        opacity: 0%;
    }
}

@keyframes appear{
    to{
        opacity: 0%;
    }
    from{
        opacity: 100%;
    }
}

@keyframes move{
    0%{
        right:0vw;
    }
    100%{
        right:54.6875vw;
    }
}
#polygon{
    position: fixed;
    width: 927px;
    height: 870px;
    right:-30%;
    top: 0px;
    background-image:url("../FrontEnd/image/Polygon\ 3.png");
    background-repeat: no-repeat;
    z-index: -1;
    display:none;
}

.submit{
    background-color: #A3B8E4;
    color:white;
    border:none;
    width: 15vw;
    height: 74px;
    font-size: 24px;
    border-radius: 50px;
}

#SignIn{
    margin-top: 5vh;
}
#Log-in{
    position:inherit;
}