@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css%22");

body {
  font-size: 16px;
  color: #ffffff;
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
}

.forgotpassword {
  margin-top: 4.2em;
  margin-left: 40%;
}

#forgotpassword-img {
  background-image: url("../pages/img/Forgotpassword.svg");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-left: 7.2em;
}

#forgotpassword-text {
  position: absolute;
  color: #6370e5;
  font-size: 30px;
  margin-top: 0.5em;
  margin-left: 1.1em;
}

#email-button {
  color: #999999;
  width: 15.5em;
  height: 2.5em;
  padding-left: 10px;
  border-radius: 0.25em;
  margin-left: 1.5em;
  margin-top: 6em;
  border-color: #999999;
}

#spend-button {
  background-color: #546cc2;
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  width: 4.5em;
  height: 2.5em;
  margin: -40em;
  margin-left: 18.6em;
}

#input-number {
  color: #999999;
  width: 20em;
  height: 2.5em;
  margin: 0.5px;
  padding-left: 10px;
  border-radius: 0.25em;
  margin-left: 1.5em;
  margin-top: 6em;
  border-color: #999999;
}

#forgotpassword-button {
  background-color: #6370e5;
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  width: 21em;
  height: 2.8em;
  margin: 30px;
  margin-left: 1.5em;
}

a {
  text-decoration: none;
  color: #546cc2;
  font-size: 12.5px;
}

#goto-login {
  margin-top: -1em;
  margin-left: 6em;
}
