@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css%22");

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  color: #ffffff;
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
}

.container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-img {
  width: 80px;
  height: 80px;
  background-image: url(../pages/img/Login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

#login-text {
  color: #6370e5;
  font-size: 44px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.input {
  width: 27em;
  height: 3em;
  text-indent: 1em;
  border-radius: 5px;
  border: 1.5px solid #999999;
  margin-bottom: 12px;
}

input::placeholder {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  color: #999999;
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
}

#login-button {
  background-color: #6370e5;
  color: #ffffff;
  font-size: 18px;
  width: 20.5em;
  height: 2.5em;
  text-align: center;
  text-indent: 0;
  font-weight: 600;
}

.link {
  color: #000;
  font-weight: 400;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #33a0dd;
}
