@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css%22");

body {
  font-size: 16px;
  color: #ffffff;
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
}

.login {
  margin-top: 4.2em;
  margin-left: 40%;
}

#login-img {
  background-image: url("../pages/img/Login.svg");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-left: 7em;
}

#login-text {
  position: absolute;
  color: #6370e5;
  font-size: 41px;
  margin-top: 0.5em;
  margin-left: 2em;
}

.input {
  color: #999999;
  width: 20em;
  height: 2.5em;
  margin: 11px;
  padding-left: 10px;
  border-radius: 0.25em;
  margin-left: 1.5em;
  border-color: #999999;
}

#email-button {
  margin-top: 7em;
}

#login-button {
  background-color: #6370e5;
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  width: 21em;
  height: 2.8em;
  margin: 30px;
  margin-left: 1.5em;
}

#signup {
  color: black;
  font-size: 12.5px;
  margin-top: -0.5em;
  margin-left: 4.5em;
}

a {
  text-decoration: none;
  color: #33a0dd;
}

#goto-signup {
  font-size: 12.5px;
  margin-top: -2.7em;
  margin-left: 14em;
}

#forgotpassword {
  color: black;
  font-size: 12.5px;
  margin-top: 0.3em;
  margin-left: 3.5em;
}

#goto-forgotpassword {
  font-size: 12.5px;
  margin-top: -2.7em;
  margin-left: 15em;
}
