@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  overflow-x: hidden;
  font-size: 16px;
  color: #ffffff;
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  width: 100vw;
  height: 200vh;
  background-color: #5c6ae3;
  background: linear-gradient(to right top, #5c6ae3, #8591fb);
}

.pages {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
}

#first-page {
  top: 0px;
}

#navigator {
  display: flex;
  align-items: center;
  margin-top: 4em;
  justify-content: space-around;
}

.tabs {
  display: flex;
  align-items: center;
}

#logo {
  background-image: url(../pages/img/Logo.svg);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
#logo-name {
  font-size: 40px;
  padding-left: 20px;
}

.nav-items {
  padding-right: 5em;
  font-size: 28px;
}

#account-tab {
  font-size: 26px;
  font-weight: 400;
}

#logo-text-tab {
  margin-top: 170px;
  margin-left: 140px;
}
#logo-text {
  font-size: 72px;
  font-weight: 900;
}

#logo-text-sub {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  margin-top: 50px;
}

#go-ques {
  margin-top: 50px;
}

a,
a:link {
  text-decoration: none;
}

#go-ques {
  padding-top: 1em;
  font-size: 20px;
  text-align: center;
  width: 8em;
  height: 2em;
  background-color: #ffffff;
  color: #6471e6;
  border-radius: 3em;
}

#second-page {
  top: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#issue-text {
  font-size: 52px;
  font-weight: 800;
  line-height: 70px;
}

#questions {
  margin-top: 5em;
}

.question-odd {
  width: 560px;
  height: 166.25px;
  background-image: url(../pages/img/Question.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3em;
  margin-left: -5em;
}

.question-even {
  width: 560px;
  height: 166.25px;
  background-image: url(../pages/img/Question.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3em;
  margin-left: 5em;
  transform: scaleX(-1);
}

.question-even > .question-contents {
  transform: scaleX(-1);
}

.question-contents {
  font-size: 32px;
  text-indent: 1em;
  padding-top: 1.5em;
  color: #000000;
}

.background-circles {
  margin-top: 20vh;
}

.circle {
  background-image: url(../pages/img/Circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.circle:first-child {
  left: 50em;
  width: 10em;
  height: 10em;
}
.circle:nth-child(2) {
  left: -5em;
  width: 20em;
  height: 20em;
  margin-top: 8em;
}

.circle:nth-child(3) {
  width: 30em;
  height: 30em;
  left: 70em;
  margin-top: -10em;
}
